<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>
      POP QUIZ
    </title>
</head>

<body ngcloak ng-controller="PopQuizViewModel as vm" ng-submit="vm.submitQn()">
  <div class="container">
    <h1 class="row">
      Pop Quiz
    </h1>
    <form name="Question Form" ng-submit="vm.submitQn()" novalidate >
      <div class="row">
        <h2 ngcloak class="col-md-12">
          Q: {{vm.shuffled[vm.current].question}}
        </h2>
      </div>
      <div class="row">
        <ul ngcloak ng-repeat="answer in vm.shuffled[vm.current].answers" style="list-style-type:none">
          <li>
            <input ngcloak ng-model="answer.choice" type="radio" name="Answer option" value="{{answer.value}}" />
            {{answer.name}}
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="btn-group" role="group" aria-label="...">
          <button ng-click="vm.submitQn()" type="button" class="btn btn-default" id="submit" name="submit" type="submit" value="Submit">
            Submit
          </button>
          <button type="button" class="btn btn-default" ng-disabled="vm.nextBtnState">
            Next
          </button>
          <button type="button" class="btn btn-default" ng-hide="vm.finBtnState">
            Finish
          </button>
        </div>
      </div>
    </form>
  </div>
</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/app.module.js"></script>
<script src="js/app.controller.js"></script>


</html>
