.results-title,
.results,
.reload-btn-wrapper,
.reload-btn-wrapper a {
    text-align: center;
    margin: 20px auto;
}
.results-jumbo {
    height: 100vh;
    margin: 50px auto;
}
.results {
    font-size: 120px;
    font-weight: 700;

}
.reload-btn-wrapper a {
    font-size: 24px;
}